.hero {
  @media screen and (max-width: 767px) {
    padding-top: 208px;
    padding-bottom: 209px;

    background-color: #191c26;
  }
}
.hero-container {
  position: relative;
  display: flex;
}
.hero-left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.hero-right-side {
  @media screen and (min-width: 768px) {
    position: relative;
    padding: 272px 0 208px 100px;
    flex-grow: 1;

    background-color: #191c26;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero/slider-img.jpg);
    background-size: cover;
    background-position: center;
  }
}
.hero-undertitle {
  max-width: 360px;
  margin: 0;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}
.hero-media-list {
  margin-bottom: 40px;

  transform: rotate(-90deg) translateY(26px);
  transform-origin: top left;
}
